<?xml version="1.0" ?>
<robot name="125">
  <link name="body">
    <visual>
      <geometry>
        <mesh filename="../shapes/125.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../shapes/125.obj"/>
      </geometry>
    </collision>
  </link>
</robot>