<?xml version="1.0" ?>
<robot name="283">
  <link name="body">
    <visual>
      <geometry>
        <mesh filename="../shapes/283.obj"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="../shapes/283.obj"/>
      </geometry>
    </collision>
  </link>
</robot>